.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 15vh;
    margin-bottom: 15px;

}
.menu ul{
    display: flex;
    gap: 30px;
}
.menu ul li{
    font-size: x-large;
}