.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 20vh;

}
.menu-container ul{
    display: flex;
    gap: 30px;
}